/**!
 * Only Modal 
 * sample style
 *
 * @author fujii.kousuke@gmail.com
 * @license MIT
 */

@charset "utf-8";

.only-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, .7);
}

.only-modal-content {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #fff;
  padding: 1em;
  border: 2px solid #ccc;
}

